<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="css/home.css" rel="stylesheet" type="text/css">
</head>
<body>
	<nav th:replace="navbar :: nav"></nav>
	<div th:replace="modale :: modale"></div>
	<p>&ensp;</p>
	<p>&ensp;</p>
	<h1 style="font-size: 1.5rem; padding-left: 275px;">Ricerca
		Attivita</h1>
	<p>&ensp;</p>
	<div class="container bootstrap snippet">
		<div class="form-row">
			<div class="col-sm-9">
				<div class="tab-content">
					<form action="#" th:action="@{/ricercaAttivita}" method="post"
						id="saveForm" class="needs-validation">
						<input type="hidden" id="prezzo" name="prezzo">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="prezzo">Prezzo massimo</label> 
							<select class="form-control" id="prezzoSelect">
						      <option></option>
						      <option value="50.00">50 €</option>
						      <option value="100.00">100 €</option>
						      <option value="150.00">150 €</option>
						      <option value="200.00">200 €</option>
						    </select>
							</div>
							<div class="form-group col-md-6">
								<label for="citta">Citta</label> <input type="text"
									class="form-control" name="citta">
							</div>
							<div class="form-group col-md-6">
								<label for="citta">Provincia</label> <input type="text"
									class="form-control" name="prov">
							</div>
							<div class="form-group col-md-6">
								<label for="data">Giorno ricerca (CAMPO VUOTO ricerca da data odierna)</label> <input type="text"
									placeholder="yyyy-MM-dd" class="form-control" name="data">
							</div>
						</div>
						<div style="padding-left: 12px;">
							<button type="submit" class="btn btn-success">Cerca</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="attivitaRicercate" th:if="${attivitaList} != null">
		<p>&ensp;</p>
		<p>&ensp;</p>
		<h1 style="font-size: 1.5rem;">Attività</h1>
		<p>&ensp;</p>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Descrizione</th>
					<th scope="col">Città</th>
					<th scope="col">Prov</th>
					<th scope="col">Max Partecipanti</th>
					<th scope="col">Data</th>
					<th scope="col">Orario</th>
					<th scope="col">Prezzo</th>
					<th scope="col">Cicerone</th>
					<th scope="col">Email</th>
					<th scope="col">Posti disponibili</th>
					<th scope="col"></th>
					<th scope="col" th:if="${utente.nome != 'Ospite'}"></th>
					<th scope="col" th:if="${utente.nome != 'Ospite'}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${attivitaList.empty}">
					<td colspan="2">Nessuna attività presente</td>
				</tr>
				<tr th:each="attivita : ${attivitaList}">
					<td><span th:text="${attivita.nome}"></span></td>
					<td><span th:text="${attivita.descrizione}"></span></td>
					<td><span th:text="${attivita.citta}"></span></td>
					<td><span th:text="${attivita.prov}"></span></td>
					<td><span th:text="${attivita.maxPartecipanti}"></span></td>
					<td><span th:text="${attivita.data}"></span></td>
					<td><span th:text="${attivita.orario}"></span></td>
					<td><span th:text="${attivita.prezzo}"></span></td>
					<td><span th:text="${attivita.nomeCicerone}"></span><span>  </span><span th:text="${attivita.cognomeCicerone}"></span></td>
					<td><span th:text="${attivita.email}"></span></td>
					<td><span th:text="${attivita.postiDisponibili}"></span></td>
					<td th:if="${utente.nome != 'Ospite'}">
						<a class="btn btn-primary" id="prenota"  th:onclick="|valorizzaModale('${attivita.idAttivita}','${attivita.idCicerone}')|"> <span style="color: white;">Prenota</span></a>
					</td>
					<td th:if="${utente.nome != 'Ospite'}">
						<a class="btn btn-success" id="salvaAttivita" th:if="${utente.nome != 'Ospite'}" th:href="@{'/doSalvaAttivita/' + ${attivita.idAttivita}}"> <span style="color: white;">Salva</span></a>
					</td>
					<td>
						<a class="btn btn-success" id="trovaFeedback" th:href="@{'/trovaFeedback/' + ${attivita.idCicerone}}"> <span style="color: white;">Feedback</span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<form action="#" th:action="@{/prenotaAttivita}" method="post" id="saveFormModal" class="needs-validation">
		<input type="hidden" id="idAttivita" name="idAttivita">
		<input type="hidden" id="idCicerone" name="idCicerone">
		<input type="hidden" id="tipologia" name="tipologia">
		<input type="hidden" id="idAttivitaSalvate" name="idAttivitaSalvate">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                Se confermi la prenotazione verrà inviata la richiesta al cicerone
		            </div>
		            <div class="modal-body">
		                Inserire numero di partecipanti
		                <table class="table">
		                    <tr>
			                    <td>
			                        <input type="text" class="form-control" name="partecipanti" id="partecipanti">
			                    </td>
		                    </tr>
		                </table>
		            </div>
		            <div class="modal-footer">
		            	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		                <button type="submit" class="btn btn-success">Conferma Prenotazione</button>
		            </div>
		        </div>
		    </div>
	    </form>
	</div>
</body>

<script th:replace="script :: script"></script>

<script type="text/javascript">
	var attivitaList = '[[${attivitaList}]]';
	if(attivitaList != null){
		$('#attivitaRicercate').show();
	} else {
		$('#attivitaRicercate').hide();
	}
	
	function valorizzaModale(idAttivita, idCicerone) {
		$('#idAttivita').val(idAttivita);
		$('#idCicerone').val(idCicerone);
		$('#tipologia').val("Ricercate");
		$('#confirm-submit').modal('show');
	}
	
	$("#prezzoSelect").change(function () {
	    prezzo = $("#prezzoSelect :selected").val();
	    $('#prezzo').val(prezzo);
	});
	
</script>
</html>
